# Default environment variables for generated Celo projects
# Public Celo RPC (mainnet)
CELO_RPC_URL=https://forno.celo.org


# Thirdweb Wallet Configuration
# Get your client ID from https://thirdweb.com/dashboard
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=78824eb2268f343c7715c80766dd8fe8
